<template>
<v-container>
        <form>
            <v-text-field
            v-model="name"
            :error-messages="nameErrors"
            :counter="255"
            label="Doccument Name"
            required
            @input="$v.name.$touch()"
            @blur="$v.name.$touch()"
            ></v-text-field>
            <v-select
            v-model="select"
            :items="author"
            :error-messages="selectErrors"
            label="Author"
            required
            @change="$v.select.$touch()"
            @blur="$v.select.$touch()"
            ></v-select>
            <v-text-field
            v-model="kind"
            :error-messages="emailErrors"
            label="Kind"
            required
            @input="$v.email.$touch()"
            @blur="$v.email.$touch()"
            ></v-text-field>
            <v-text-field
            v-model="reference"
            :error-messages="emailErrors"
            label="Reference"
            required
            @input="$v.email.$touch()"
            @blur="$v.email.$touch()"
            ></v-text-field>
            <v-text-field
            v-model="capacity"
            :error-messages="emailErrors"
            label="Capacity"
            required
            @input="$v.email.$touch()"
            @blur="$v.email.$touch()"
            ></v-text-field>
            <input type="file" ref="file" style="display: none">
            <v-layout justify-end>
                <p>Choose file upload:</p>
                <v-btn>
                    <button @click="$refs.file.click()">Browser...</button><br>
                </v-btn>
            </v-layout>
            <v-btn @click="submit">Add</v-btn>
            <v-btn @click="clear">Clear</v-btn>
        </form>

</v-container>
</template>
