<template>
  <v-container fluid grid-list-md >
    <v-layout row wrap>
      <v-flex
        v-for="card in listCourse"
        :key="card.title"
        v-bind="{ [`xs${3}`]: true  }"
      >
        <v-card class="ma-2">
          <v-img
            :src="card.image"
            height="300px"
            @click="show_info_Course(card)"
          >
            <v-container
              fill-height
              fluid
              pa-2
            >
              <v-layout fill-height>
                <v-flex xs12 align-end flexbox>
                  <span class="headline white--text" v-text="card.title"></span>
                </v-flex>
              </v-layout>
            </v-container>
          </v-img>

          <v-card-actions>
            <v-btn
            color="blue"
            dark
            @click="learn(card.id)"
            >
              Learn
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn icon>
              <v-icon>favorite</v-icon>
            </v-btn>
            <v-btn icon>
              <v-icon>bookmark</v-icon>
            </v-btn>
            <v-btn icon>
              <v-icon>share</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>

      </v-flex>

    </v-layout>
  </v-container>
</template>
<script>
import axios from 'axios'
export default {
  data: () => ({
    listCourse: []
  }),
  methods: {
    learn: function (courseId) {

    }
  },
  mounted () {
    // import axios from 'axios'
    axios
      .get('https://api-ilearning.herokuapp.com/api/v1/user/getListCourseApprove',
        {
          headers:
        {
          'Authorization':
          'thanhhao ' + this.$cookies.get('token')
        }
        })
      .then(response => (this.listCourse = response.data.data.listCourse))
      .catch(error => {
        console.log(error)
      })
  }
}
</script>
