<template>
  <v-layout row>
    <v-flex xs12 sm6 offset-sm3>
      <form>
        <v-layout wrap justify-center>
          <v-flex xs12>
            <v-text-field
              v-model="quiz.name"
              label="Tên"
              required
            ></v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-text-field
              v-model="quiz.subject"
              label="Môn học"
              required
            ></v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-text-field
              v-model="quiz.description"
              label="Mô tả"
              required

            ></v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-select
              :items="number_question_list"
              label="Số lượng câu hỏi"
              v-model="number_question"
            ></v-select>
          </v-flex>
          <v-flex xs12>
            <h3>Thông tin câu hỏi {{page}}</h3>
          </v-flex>
          <h2>{{mesage}}</h2>
          <v-flex xs12>
            <v-textarea
              outline
              name="input-4-4"
              label="Câu hỏi"
              v-model="quiz.list_question[page].question"
            ></v-textarea>
          </v-flex>
          <v-flex xs6>
            <v-text-field class="ma-3"
                          v-model="quiz.list_question[page].answer_a"
                          label="Phương án A"
                          required
            ></v-text-field>
          </v-flex>
          <v-flex xs6>
            <v-text-field class="ma-3"
                          v-model="quiz.list_question[page].answer_b"
                          label="Phương án B"
                          required
            ></v-text-field>
          </v-flex>
          <v-flex xs6>
            <v-text-field class="ma-3"
                          v-model="quiz.list_question[page].answer_c"
                          label="Phương án C"
                          required
            ></v-text-field>
          </v-flex>
          <v-flex xs6>
            <v-text-field class="ma-3"
                          v-model="quiz.list_question[page].answer_d"
                          label="Phương án D"
                          required
            ></v-text-field>
          </v-flex>

          <v-flex xs12>
            <v-select
              :items="list_choose"
              label="Câu trả lời đúng"
              v-model="quiz.list_question[page].correct_answer"
            ></v-select>
          </v-flex>

          <v-pagination
            v-model="page"
            :length="number_question"
            :total-visible="10"
          ></v-pagination>
          <v-flex xs12>
            <v-btn @click="createQuiz()">submit</v-btn>
          </v-flex>
        </v-layout>
      </form>
    </v-flex>
  </v-layout>

</template>

<script>
import axios from 'axios'

export default {
  name: 'DetailQuiz',
  data () {
    return {
      number_question_list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
      quiz: {
        name: null,
        subject: null,
        description: null,
        courseId: null,
        list_question: []
      },
      items: ['A', 'b', 'c'],
      list_choose: ['A', 'B', 'C', 'D'],
      number_question: 1,
      page: 1,
      mesage: '',
      name: '23',
      token: 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InRlc3RAZ21haWwuY29tIiwiaXNBZG1pbiI6dHJ1ZSwiYXZ0IjpudWxsLCJ1c2VySWQiOjEsInVzZXJuYW1lIjoidGVzdGFkbWluIiwiaWF0IjoxNTU3NDE2ODgxLCJleHAiOjE1NTc0MjA0ODF9.b4LRElbdyPXkAznXM4aQY2gY96EglUceiBew4A-OAf0'
    }
  },
  mounted () {
    let i = 1
    for (i = 1; i <= 20; i++) {
      this.quiz.list_question.push({
        question: '',
        answer_a: '',
        answer_b: '',
        answer_c: '',
        answer_d: '',
        correct_answer: 'A'
      })
    }
  },
  methods: {
    createQuiz: function () {
      // let data_body =
      this.mesage = JSON.stringify(this.quiz.list_question.splice(0, 1))
      axios.post('https://api-ilearning.herokuapp.com/api/v1/admin/createQuiz',
        {
          name: this.quiz.name,
          subject: this.quiz.subject,
          description: this.quiz.description,
          courseId: 1,
          list_question: JSON.stringify(this.quiz.list_question.splice(0, this.page))
        }
        ,
        {
          headers:
              {
                'Authorization':
                this.token
              }
        }
      )
      return true
    }
  }
}
</script>

<style scoped>

</style>
