<template>
<v-container>
        <form>
            <v-text-field
            v-model="category"
            :error-messages="categoryErrors"
            label="Category"
            required
            @input="$v.category.$touch()"
            @blur="$v.category.$touch()"
            ></v-text-field>
            <v-text-field
            v-model="title"
            :error-messages="titleErrors"
            label="Title"
            required
            @input="$v.title.$touch()"
            @blur="$v.title.$touch()"
            ></v-text-field>
            <v-text-field
            v-model="description"
            :error-messages="descriptionErrors"
            label="Description"
            required
            @input="$v.description.$touch()"
            @blur="$v.description.$touch()"
            ></v-text-field>
            <input type="file" ref="file" style="display: none">
            <v-layout justify-end>
                <p>Choose image upload:</p>
                <v-btn>
                    <button @click="$refs.file.click()">Browser...</button><br>
                </v-btn>
            </v-layout>
            <v-btn @click="createCourse">Add</v-btn>
            <v-btn @click="clear">Clear</v-btn>
        </form>

</v-container>
</template>

<script>
import axios from 'axios'

export default {
  data: () => ({
    expand: false,
    dataExpand: [
      'home',
      'add_shopping_cart',
      'bookmark',
      'settings'
    ],
    title: '',
    image: '',
    category: '',
    description: '',
    create_result: false,
    token: ''
  }),
  methods: {
    createCourse: function () {
      this.token = 'Bearer ' + this.$cookies.get('token')
      axios.post('https://api-ilearning.herokuapp.com/api/v1/admin/createCourse', {
        title: this.title,
        adminId: this.$cookies.get('user_id'),
        // image: this.image,
        category: this.category,
        description: this.description
      }, {
        headers:
          {
            'Authorization':
            this.token
          }
      }).then(
        res => {
          this.create_result = res.data.isSuccessfully
        }
      )
    }
  }
}
</script>
