<template>
  <div>
    <v-layout row>
      <v-flex xs12 sm6 offset-sm3>
        <v-card>
          <v-toolbar
            card
            color="blue-grey"
            dark
          >
            <v-toolbar-title>{{quiz.name}}
            </v-toolbar-title>
          </v-toolbar>

          <v-card-text>
            <h4 class="headline mb-1">Thông tin cơ bản</h4>
            <div class="pl-3">Ngày tạo Quiz: {{quiz.timeCreator}}</div>
            <div class="pl-3">Số lượng câu hỏi: {{ quiz.numberQuestion }}</div>
            <div class="pl-3">Số lượt tham gia: {{ quiz.numberAttend }}</div>
            <div class="pl-3 mb-3">Đánh giá:
              <v-rating
                v-model="quiz.rating"
                background-color="orange lighten-3"
                color="orange"
                small

              ></v-rating>
            </div>

            <h4 class="headline mb-1">Chủ đề</h4>
            <div class="mb-2 pl-3"> {{ quiz.topic }}</div>

            <h4 class="headline mb-1">Môn học</h4>
            <div class="mb-2 pl-3"> {{ quiz.subject }}</div>

            <h4 class="headline mb-1">Mô tả bài Quiz</h4>
            <div class="mb-2 pl-3"> {{ quiz.description }}</div>

          </v-card-text>

          <v-divider></v-divider>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              class="white--text"
              color="red"
              depressed
            >
              Quay lại
            </v-btn>
            <v-btn
              color="success"
              depressed
            >
              Thực hiện Quiz
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </div>

</template>

<script>
export default {
  name: 'DetailQuiz',
  data () {
    return {
      quiz: {
        name: 'Name Quiz (Bài tập nâng cao)',
        timeCreator: '20/2/2019',
        numberQuestion: 20,
        numberAttend: 3252,
        rating: 4.3,
        topic: 'Chủ đề của Quiz',
        subject: 'Cấu trúc dữ liệu và giải thuật',
        description: 'Khóa học trang bị và hệ thống cho học sinh các kiến thức cơ bản chương trình lớp 10, 11, 12 ở các chuyên đề như Cơ học, Nhiệt học, Điện từ học, Quang học, Hạt nhân nguyên tử.'
      }
    }
  }
}
</script>

<style scoped>

</style>
