<template>
  <v-layout justify-center class="mt-4">
    <v-flex xs12 sm8>
      <h1>{{id}}</h1>
      <v-layout row>
        <v-img
          src="https://cdn.vuetifyjs.com/images/cards/foster.jpg"
          height="260px"
          max-width="400px"
        ></v-img>
        <v-card-title primary-title class="pa-0 ml-3">
          <div>
            <v-card-text class="blue--text headline pa-0 text-truncate">{{course.title}}</v-card-text>
            <v-card-text class="pa-0 text-truncate">{{course.description}}</v-card-text>
            <v-icon>person</v-icon>
            {{course.name}}
            <br>
            <v-icon>date_range</v-icon>
            {{course.date}}
          </div>
        </v-card-title>
      </v-layout>
      <div>
        <v-card>
          <v-toolbar
            color="cyan"
            dark
            tabs
            class="mt-3"
          >
            <template>
              <v-tabs
                v-model="tab"
                color="cyan"
                grow
              >
                <v-tabs-slider color="yellow"></v-tabs-slider>

                <v-tab
                  v-for="item in items"
                  :key="item"
                >
                  {{ item }}
                </v-tab>
              </v-tabs>
            </template>
          </v-toolbar>

          <v-tabs-items v-model="tab">
            <v-tab-item
              v-for="item in items"
              :key="item"
            >
              <v-card flat>
                <div v-if='item === "users assign"'>
                 <!--TODO: UI list users assign-->
                </div>
                <div v-else-if='item === "documents"'>
                      <!--TODO: UI list documents-->
                </div>
                <div v-else>
                  <!--TODO: UI list video-->
                </div>
              </v-card>
            </v-tab-item>
          </v-tabs-items>
        </v-card>
      </div>

    </v-flex>
  </v-layout>
</template>

<script>
import axios from 'axios'

export default {
  name: 'DetailCourse',
  data: () => ({
    tab: null,
    id: '',
    course: '',
    items: [
      'documents', 'videos', 'users assign'
    ],
    token: '',
    list_user_assign: [],
    list_document: [],
    list_video: []
  }),
  created: function () {
    this.id = this.$route.params.id
    this.token = 'Bearer ' + this.$cookies.get('token')
    let getUserAssignPath = 'http://api-ilearning.herokuapp.com/api/v1/admin/listUserWaitingInCourse/' + this.id
    axios.get(getUserAssignPath, {
      headers:
          {
            'Authorization':
            this.token
          }
    }).then(
      res => {
        this.list_user_assign = res.data.data.listUserAssign
      }
    )
    let getInfoCourse = 'http://api-ilearning.herokuapp.com/api/v1/admin/viewCourse/' + this.id
    axios.get(getInfoCourse, {
      headers:
        {
          'Authorization':
          this.token
        }
    }).then(
      res => {
        this.course = res.data.data.courseInfo
        this.list_document = res.data.data.listDocument
        this.list_video = res.data.data.listVideo
      }
    )
  }
}
</script>

<style scoped>

</style>
