<template>
    <v-container grid-list-xl>
        <v-layout justify-center>
            <v-flex xs12 sm6 md3>
                <v-text-field
                label='Doccument name'
                v-model='searchString'
                >
                </v-text-field>
            </v-flex>
            <v-btn
                flat
                :disabled="!dataAvailable"
                @click="searchMovie"
            >
            <span class="mr-2">Search</span>
            </v-btn>
        </v-layout>
        <v-layout v-bind="binding">
            <v-flex xs12>
                <v-card>
                    <v-card-title>
                    <div>
                        <h4 class="blue--text">Name Doccument</h4><br>
                        <span>Kind: ...</span><br>
                        <span>Descriptiom:...</span>
                    </div>
                    </v-card-title>
                    <v-card-actions>
                   <v-breadcrumbs :items="items"></v-breadcrumbs>
                    <v-btn flat color="blue">Delete</v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
            <v-flex xs12>
                <v-card>
                    <v-card-title>
                    <div>
                        <h4 class="blue--text">Name Doccument</h4><br>
                        <span>Kind: ...</span><br>
                        <span>Descriptiom:...</span>
                    </div>
                    </v-card-title>
                    <v-card-actions>
                    <v-breadcrumbs :items="items"></v-breadcrumbs>
                <v-btn flat color="blue">Delete</v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
            <v-flex xs12>
                <v-card>
                    <v-card-title>
                    <div>
                        <h4 class="blue--text">Name Doccument</h4><br>
                        <span>Kind: ...</span><br>
                        <span>Descriptiom:...</span>
                    </div>
                    </v-card-title>
                    <v-card-actions>
                    <v-breadcrumbs :items="items"></v-breadcrumbs>
                    <v-btn flat color="blue">Delete</v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>
        <v-layout v-bind="binding">
            <v-flex>
                <v-card>
                    <v-card-title>
                    <div>
                        <h4 class="blue--text">Name Doccument</h4><br>
                        <span>Kind: ...</span><br>
                        <span>Descriptiom:...</span>
                    </div>
                    </v-card-title>
                    <v-card-actions>
                    <v-breadcrumbs :items="items"></v-breadcrumbs>
                    <v-btn flat color="blue">Delete</v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
            <v-flex>
                <v-card>
                    <v-card-title>
                    <div>
                        <h4 class="blue--text">Name Doccument</h4><br>
                        <span>Kind: ...</span><br>
                        <span>Descriptiom:...</span>
                    </div>
                    </v-card-title>
                    <v-card-actions>
                    <v-breadcrumbs :items="items"></v-breadcrumbs>
                    <v-btn flat color="blue">Delete</v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
            <v-flex>
                <v-card>
                    <v-card-title>
                    <div>
                        <h4 class="blue--text">Name Doccument</h4><br>
                        <span>Kind: ...</span><br>
                        <span>Descriptiom:...</span>
                    </div>
                    </v-card-title>
                    <v-card-actions>
                    <v-breadcrumbs :items="items"></v-breadcrumbs>
                    <v-btn flat color="blue">Delete</v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>
        <div class="text-xs-center">
            <v-pagination
            v-model="page"
            :length="6"
            ></v-pagination>
        </div>
    </v-container>
</template>
<script>
  export default {
    data: () => ({
      items: [
        {
          text: 'Edit',
          disabled: false,
          href: 'editdoc/info'
        }
      ]
    })
  }
</script>
