<template>
<v-container>

        <form>
            <v-text-field
            v-model="title"
            :error-messages="nameErrors"
            :counter="255"
            label="New Title"
            required
            @input="$v.name.$touch()"
            @blur="$v.name.$touch()"
            ></v-text-field>
            <v-select
            v-model="select"
            :items="course"
            :error-messages="selectErrors"
            label="New Course"
            required
            @change="$v.select.$touch()"
            @blur="$v.select.$touch()"
            ></v-select>
            <v-text-field
            v-model="time"
            :error-messages="emailErrors"
            label="New Time"
            required
            @input="$v.email.$touch()"
            @blur="$v.email.$touch()"
            ></v-text-field>
            <v-text-field
            v-model="capacity"
            :error-messages="emailErrors"
            label="New Capacity"
            required
            @input="$v.email.$touch()"
            @blur="$v.email.$touch()"
            ></v-text-field>
            <v-btn @click="submit">Submit</v-btn>
            <v-btn @click="clear">Clear</v-btn>
        </form>

</v-container>
</template>
