<template>
    <v-container grid-list-xl>
        <v-layout  justify-center>
            <v-flex xs12 sm6 md3>
                <v-text-field
                label='Title video'
                v-model='searchString'
                >
                </v-text-field>
            </v-flex>
            <v-btn
                flat
                :disabled="!dataAvailable"
                @click="searchVideo"
            >
            <span flat color = "blue" class="mr-2">Search</span>
            </v-btn>
        </v-layout>
        <v-layout row justify-space-around v-bind="binding">
            <v-flex xs3>
            <v-card>
                <v-img
                src="https://cdn.vuetifyjs.com/images/cards/desert.jpg"
                aspect-ratio="2.75"
                ></v-img>

                <v-card-title primary-title>
                <div>
                    <h5 class="headline mb-0">Video 1</h5>
                    <div> {{ card_text }} </div>
                </div>
                </v-card-title>
                <v-card-text>
                    <br> Description:...
                </v-card-text>
                <v-card-actions>
                <v-breadcrumbs :items="items"></v-breadcrumbs>
                <v-btn flat color="blue">Delete</v-btn>
                </v-card-actions>
            </v-card>
            </v-flex>
            <v-flex xs3>
            <v-card>
                <v-img
                src="https://cdn.vuetifyjs.com/images/cards/desert.jpg"
                aspect-ratio="2.75"
                ></v-img>

                <v-card-title primary-title>
                <div>
                    <h5 class="headline mb-0">Video 2</h5> <br>
                    <div> {{ card_text }} </div>
                    <span> Time: ...</span><br>
                    <span> Description: ...</span>
                </div>
                </v-card-title>
                <v-card-actions>
                <v-breadcrumbs :items="items"></v-breadcrumbs>
                <v-btn flat color="blue">Delete</v-btn>
                </v-card-actions>
            </v-card>
            </v-flex>

            <v-flex xs3 >
            <v-card>
                <v-img
                src="https://cdn.vuetifyjs.com/images/cards/desert.jpg"
                aspect-ratio="2.75"
                ></v-img>

                <v-card-title primary-title>
                <div>
                    <h3 class="purple--text headline mb-0">Video 3</h3>
                    <div> {{ card_text }} </div>
                </div>
                </v-card-title>
                <v-card-text>
                    <br> Description:...
                </v-card-text>
                <v-card-actions>
                <v-breadcrumbs :items="items"></v-breadcrumbs>
                <v-btn flat color="blue">Delete</v-btn>
                </v-card-actions>
            </v-card>
            </v-flex>
        </v-layout>
        <v-layout row justify-space-around v-bind="binding">
            <v-flex xs3>
            <v-card>
                <v-img
                src="https://cdn.vuetifyjs.com/images/cards/desert.jpg"
                aspect-ratio="2.75"
                ></v-img>

                <v-card-title primary-title>
                <div>
                    <h3 class="purple--text">Video 4</h3>
                    <!-- <div> {{ card_text }} </div> -->
                </div>
                </v-card-title>
                <v-card-text>
                    <br> Description:...
                </v-card-text>
                <v-card-actions>
                <v-breadcrumbs :items="items"></v-breadcrumbs>
                <v-btn flat color="blue">Delete</v-btn>
                </v-card-actions>
            </v-card>
            </v-flex>
            <v-flex xs3>
            <v-card>
                <v-img
                src="https://cdn.vuetifyjs.com/images/cards/desert.jpg"
                aspect-ratio="2.75"
                ></v-img>

                <v-card-title primary-title>
                <div>
                    <h5 class="headline mb-0">Video 5</h5>
                    <div> {{ card_text }} </div>
                </div>
                </v-card-title>
                <v-card-text>
                    <br> Description:...
                </v-card-text>
                <v-card-actions>
                <v-breadcrumbs :items="items"></v-breadcrumbs>
                <v-btn flat color="blue">Delete</v-btn>
                </v-card-actions>
            </v-card>
            </v-flex>
            <v-flex xs3 >
            <v-card>
                <v-img
                src="https://cdn.vuetifyjs.com/images/cards/desert.jpg"
                aspect-ratio="2.75"
                ></v-img>

                <v-card-title primary-title>
                <div>
                    <h5 class="headline mb-0">Video 6</h5>
                    <div> {{ card_text }} </div>
                </div>
                </v-card-title>
                <v-card-text>
                    <br> Description:...
                </v-card-text>
                <v-card-actions>
                <v-breadcrumbs :items="items"></v-breadcrumbs>
                <v-btn flat color="blue">Delete</v-btn>
                </v-card-actions>
            </v-card>
            </v-flex>

        </v-layout>
        <div class="text-xs-center">
            <v-pagination
            v-model="page"
            :length="6"
            ></v-pagination>
        </div>
    </v-container>
</template>
<script>
  export default {
    data: () => ({
      items: [
        {
          text: 'Edit',
          disabled: false,
          href: 'editvideo/info'
        }
      ]
    })
  }
</script>
