<template>
<v-container>
        <form>
            <v-text-field
            v-model="name"
            :error-messages="nameErrors"
            :counter="255"
            label="New Doccument Name"
            required
            @input="$v.name.$touch()"
            @blur="$v.name.$touch()"
            ></v-text-field>
            <v-select
            v-model="select"
            :items="author"
            :error-messages="selectErrors"
            label="New Author"
            required
            @change="$v.select.$touch()"
            @blur="$v.select.$touch()"
            ></v-select>
            <v-text-field
            v-model="kind"
            :error-messages="emailErrors"
            label="New Kind"
            required
            @input="$v.email.$touch()"
            @blur="$v.email.$touch()"
            ></v-text-field>
            <v-text-field
            v-model="reference"
            :error-messages="emailErrors"
            label="New Reference"
            required
            @input="$v.email.$touch()"
            @blur="$v.email.$touch()"
            ></v-text-field>
            <v-text-field
            v-model="capacity"
            :error-messages="emailErrors"
            label="New Capacity"
            required
            @input="$v.email.$touch()"
            @blur="$v.email.$touch()"
            ></v-text-field>
            <v-btn @click="submit">Submit</v-btn>
            <v-btn @click="clear">Clear</v-btn>
        </form>

</v-container>
</template>
