<template>
  <v-layout row>
    <v-flex xs12 sm6 offset-sm3>
      <v-card>
        <v-toolbar
          color="blue"
          dark
          tabs
        >
          <h1>Lịch sử thực hiện Quiz</h1>

        </v-toolbar>

        <v-list three-line>
          <template v-for="(item, index) in items">
            <v-list-tile
              :key="item.title"
              avatar
              ripple
              @click="toggle(index)"
              class="my-3"
            >
              <v-list-tile-content>
                <v-list-tile-title class="my-2">Quiz name</v-list-tile-title>
                <v-list-tile-sub-title><span style="font-weight: bold">Thời gian làm bài Quiz: </span>{{
                  item.time_do_quiz }}
                </v-list-tile-sub-title>
                <v-list-tile-sub-title><span style="font-weight: bold">Kết quả: </span>{{ item.grade }}
                </v-list-tile-sub-title>
                <v-list-tile-sub-title><span style="font-weight: bold">Thời gian: </span>{{ item.time_created }}
                </v-list-tile-sub-title>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-btn color="success"
                       depressed>Chi tiết
                </v-btn>
              </v-list-tile-action>
            </v-list-tile>
            <v-divider
              v-if="index + 1 < items.length"
              :key="index"
            ></v-divider>
          </template>
        </v-list>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import axios from 'axios'

export default {
  name: 'HistoryQuiz',
  data () {
    return {
      items: []
      // aa: ''
    }
  },
  mounted () {
    axios
      .get('https://api-ilearning.herokuapp.com/api/v1/user/historyQuiz')
    // .get('http://beta.lyricstraining.com//api/now-playing')
      .then(response => (this.items = response.data.historyList))
      .catch(error => {
        console.log(error)
      })
  }
}
</script>

<style scoped>

</style>
