<template>
  <v-flex xs12 sm12>
    <v-alert
      :value="showAlert==1"
      dismissible = "true"
      type="success"
      class="flex"
    >
      {{message}}
    </v-alert>
    <v-alert
      :value="showAlert==-1"
      dismissible = "true"
      type="error"
    >
      {{message}}
    </v-alert>
    <div class="header">
      <div class="header-img">
      </div>
    </div>
    <div class="text-xs-center">
      <v-tooltip left>
        <template v-slot:activator="{ on }">
          <v-btn flat
            @click="Development()">Development</v-btn>
        </template>
      </v-tooltip>

      <v-tooltip top>
        <template v-slot:activator="{ on }">
          <v-btn flat
            @click="Business()" >Business</v-btn>
        </template>
      </v-tooltip>

      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn flat
            @click="Design()">Design</v-btn>
        </template>
      </v-tooltip>

      <v-tooltip right>
        <template v-slot:activator="{ on }">
          <v-btn flat
            @click="IT()">IT & Software</v-btn>
        </template>
      </v-tooltip>
    </div>
    <div v-if="checkAdmin()">
      <v-dialog v-model="dialog_course" persistent width="500">
        <template v-slot:activator="{ on }">
          <v-btn
            color="red"
            dark
            v-on="on"
          >
            Add +
          </v-btn>
        </template>
        <v-card>
          <v-card-title
            class="headline red lighten-2"
            primary-title
          >
            Ilearning - Add course
          </v-card-title>
          <v-text-field label='Title' class="ma-3 pt-3" v-model="title_course">
          </v-text-field>
          <v-text-field label='Image' class="ma-3 pa-0" v-model="image_course">
          </v-text-field>
          <v-text-field label='Description' class="ma-3 pa-0" v-model="description_course">
          </v-text-field>
          <div class="large-12 medium-12 small-12 cell ml-4">
            <label>File
              <input type="file" id="file" ref="file" v-on:change="handleFileUpload()" accept="image/*"/>
            </label>
          </div>
          <v-alert
            :value="created_faile"
            type="error"
          >
            {{message_register_error}}
          </v-alert>
          <v-divider></v-divider>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              flat
              @click="closeLogin()"
            >
              Cancel
            </v-btn>
            <v-btn
              color="primary"
              flat
              @click="create_course()"
            >
              Create
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
    <v-dialog v-model="isShowInfoCourse"  width="800">
      <v-card>
        <v-img
          :src="courseInfo.image"
        >
        </v-img>

        <v-card-title primary-title>
          <div>
            <div class="headline">{{courseInfo.title}}</div>
            <span class="grey--text">{{courseInfo.description}}</span></br>
            <span><b>Teacher: </b> {{courseInfo.name}}</span>
          </div>
        </v-card-title>

        <v-card-actions>
          <v-btn color="warning" @click="clouse_show_info_course()" flat>Cancel</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>

        <v-slide-y-transition>
          <v-card-text v-show="show">
            I'm a thing. But, like most politicians, he promised more than he could deliver. You won't have time for sleeping, soldier, not with all the bed making you'll be doing. Then we'll go with that data file! Hey, you add a one and two zeros to that or we walk! You're going to do his laundry? I've got to find a way to escape.
          </v-card-text>
        </v-slide-y-transition>
      </v-card>
    </v-dialog>
    <v-container fluid grid-list-md >
      <v-layout row wrap>
        <v-flex
          v-for="card in data.courseList" v-if="card.category == cate"
          :key="card.title"
          v-bind="{ [`xs${3}`]: true  }"
        >
          <v-card class="ma-2">
            <v-img
              :src="card.image"
              height="300px"
              @click="show_info_Course(card)"
            >
              <v-container
                fill-height
                fluid
                pa-2
              >
                <v-layout fill-height>
                  <v-flex xs12 align-end flexbox>
                    <span class="headline white--text" v-text="card.title"></span>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-img>

            <v-card-actions>
              <v-btn
              color="blue"
              dark
              v-if="isLogin"
              v-on="on"
              @click="join_course(card.id)"
              >
                Join
              </v-btn>
              <v-spacer></v-spacer>
              <v-btn icon>
                <v-icon>favorite</v-icon>
              </v-btn>
              <v-btn icon>
                <v-icon>bookmark</v-icon>
              </v-btn>
              <v-btn icon>
                <v-icon>share</v-icon>
              </v-btn>
            </v-card-actions>
          </v-card>

        </v-flex>

      </v-layout>
    </v-container>
  </v-flex>

</template>
<script>
import axios from 'axios'
export default {
  data: () => ({
    page: 1,
    data: '',
    courseInfo: '',
    isShowInfoCourse: false,
    isLogin: false,
    isAdmin: false,
    create_suc: false,
    create_mess: '',
    dialog_course: false,
    dialog_register: false,
    title_course: '',
    image_course: '',
    description_course: '',
    message: '',
    showAlert: 0,
    cate: 'Development',
    file: ''
  }),
  created: function () {
    this.isLogin = this.$cookies.isKey('token')
    this.isAdmin = this.$cookies.get('isAdmin')
  },
  methods: {
    Development: function () {
      this.cate = 'Development'
    },
    Design: function () {
      this.cate = 'Design'
    },
    Business: function () {
      this.cate = 'Bussiness'
    },
    IT: function () {
      this.cate = 'IT & Software'
    },
    show_info_Course: function (info) {
      this.isShowInfoCourse = true
      this.courseInfo = info
    },
    clouse_show_info_course: function () {
      this.isShowInfoCourse = false
    },
    closeLogin: function () {
      this.dialog_course = false
      this.reset_data()
    },
    create_course: function () {
      let formData = new FormData()
      if (this.file !== '') formData.append('image', this.file)
      formData.append('title', this.title_course)
      formData.append('category', this.cate)
      formData.append('description', this.description_course)
      axios.post('https://api-ilearning.herokuapp.com/api/v1/admin/createCourse', formData, {
        headers:
          {
            'Authorization':
            'Bearer ' + this.$cookies.get('token'),
            'Content-Type': 'multipart/form-data'
          }
      }).then(
        res => {
          this.create_suc = res.data.isSuccessfully
        }
      )
      this.dialog_course = false
    },
    join_course: function (cardId) {
      console.log(cardId)
      axios.post('https://api-ilearning.herokuapp.com/api/v1/user/signCourse', {
        courseId: cardId
      }, {
        headers:
          {
            'Authorization':
            'thanhhao ' + this.$cookies.get('token')
          }
      }).then(
        res => {
          this.isSuccessfully = res.data.isSuccessfully
          if (this.isSuccessfully) {
            this.showAlert = 1
            this.message = 'Assign course successfully'
          } else {
            this.showAlert = -1
            this.message = res.data.message
          }
        }
      )
    },
    checkAdmin: function () {
      return this.$cookies.get('isAdmin') === 'true'
    },
    handleFileUpload () {
      this.file = this.$refs.file.files[0]
    }
  },

  mounted () {
    // import axios from 'axios'
    axios
      .get('https://api-ilearning.herokuapp.com/api/v1/courseList')
      .then(response => (this.data = response.data.data))
      .catch(error => {
        console.log(error)
      })
  }
}
</script>
<style>
.header {
  height: 360px;
}

.header .header-img {

  background-image: url(https://images.unsplash.com/photo-1510590337019-5ef8d3d32116?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=2000&h=700&fit=crop&ixid=eyJhcHBfaWQiOjF9);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-color: #f5f5f5;
  height: 100%;
  word-wrap: inherit;

}
header .header-text {

}

</style>
