<template>
  <v-layout justify-center class="mt-4">
    <v-flex xs12 sm8>
      <v-toolbar color="indigo" dark>
        <v-toolbar-title>My Courses</v-toolbar-title>
      </v-toolbar>
      <v-card>
        <v-container>
          <v-layout row wrap>
            <v-flex
              v-for="(course,index) in list_course"
              :key="index"
              xs6
            >
              <v-layout class="blue-grey--text mx-3 my-4">
                <v-img
                  src="https://cdn.vuetifyjs.com/images/cards/foster.jpg"
                  height="130px"
                  max-width="200px"
                ></v-img>
                <v-card-title primary-title class="pa-0 ml-3">
                  <div>
                    <v-card-text class="blue--text headline pa-0 text-truncate">{{course.title}}</v-card-text>
                    <v-card-text class="pa-0 text-truncate">{{course.description}}</v-card-text>
                      <v-icon>person</v-icon> {{course.name}}
                    <br>
                    <v-icon>date_range</v-icon>{{course.date}}
                    <v-card-actions class="pa-0">
                      <v-btn color="green" @click="onDetailCourse(course.id)">Chi tiết</v-btn>
                    </v-card-actions>
                  </div>
                </v-card-title>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-container>
        <v-card-actions class="mb-2 mx-4">
        <v-spacer></v-spacer>
        <v-btn color="red" @click="onBack()">back</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>

</template>

<script>
import axios from 'axios'
import moment from 'moment'

export default {
  name: 'MyCourse',
  data: () => ({
    list_course: [],
    token: ''
  }),
  created: function () {
    this.token = 'Bearar ' + this.$cookies.get('token')
    axios.get('https://api-ilearning.herokuapp.com/api/v1/admin/listCourse',
      {
        headers:
            {
              'Authorization':
              this.token
            }
      }).then(
      res => {
        this.list_course = res.data.data.courseList
        this.list_course.forEach(function (course) {
          course.date = moment(course.date).format('MM/DD/YYYY')
        })
      }
    )
  },
  methods: {
    onBack: function () {
      this.$router.push('/detail-course/10')
    },
    onDetailCourse: function (id) {
      let path = '/detail-course/' + id.toString()
      this.$router.push(path)
    }
  }

}
</script>

<style scoped>
</style>
