<template>

  <v-layout row>
    <v-flex xs12 sm6 offset-sm3>
      <v-card>
        <v-toolbar
          color="blue"
          dark
          tabs
        >
          <v-text-field
            append-icon="mic"
            class="mx-3"
            flat
            label="Search"
            prepend-inner-icon="search"
            solo-inverted
          ></v-text-field>
        </v-toolbar>

        <v-list two-line>
          <template v-for="(item, index) in items">
            <v-list-tile
              :key="item.title"
              avatar
              ripple
              @click="toggle(index)"
              class="my-3"
            >
              <v-list-tile-content>
                <v-list-tile-title>{{ item.headline }}</v-list-tile-title>
                <v-list-tile-sub-title><span style="font-weight: bold">Số lượt thi: </span>{{ item.numberDoQuiz }}
                </v-list-tile-sub-title>
                <v-list-tile-sub-title><span style="font-weight: bold">Chủ đề: </span>{{ item.title }}
                </v-list-tile-sub-title>
                <v-list-tile-sub-title><span style="font-weight: bold">Mô tả ngắn: </span>{{ item.subtitle }}
                </v-list-tile-sub-title>
              </v-list-tile-content>

              <v-list-tile-action>
                <v-list-tile-action-text>{{ item.action }}</v-list-tile-action-text>
                <v-icon
                  v-if="selected.indexOf(index) < 0"
                  color="grey lighten-1"
                >
                  star_border
                </v-icon>

                <v-icon
                  v-else
                  color="yellow darken-2"
                >
                  star
                </v-icon>
              </v-list-tile-action>

            </v-list-tile>
            <v-divider
              v-if="index + 1 < items.length"
              :key="index"
            ></v-divider>
          </template>
        </v-list>
      </v-card>
    </v-flex>
  </v-layout>

</template>

<script>
export default {
  name: 'SearchQuiz',
  data () {
    return {
      selected: [2],
      items: [
        {
          action: '12/2/2019',
          headline: 'Name Quiz 1',
          numberDoQuiz: 212,
          title: 'Chu de 1',
          subtitle: 'Hiển thị đoạn mô tả ngắn'
        },
        {
          action: '12/2/2019',
          headline: 'Name Quiz 2',
          numberDoQuiz: 212,
          title: 'Chu de 2',
          subtitle: 'Hiển thị đoạn mô tả ngắn'
        },
        {
          action: '12/2/2019',
          headline: 'Name Quiz 3',
          numberDoQuiz: 212,
          title: 'Chu de 3',
          subtitle: 'Hiển thị đoạn mô tả ngắn'
        },
        {
          action: '12/2/2019',
          headline: 'Name Quiz 4',
          numberDoQuiz: 212,
          title: 'Chu de 4',
          subtitle: 'Hiển thị đoạn mô tả ngắn'
        },
        {
          action: '12/2/2019',
          headline: 'Chu de 5',
          numberDoQuiz: 212,
          title: 'Britta Holt',
          subtitle: 'Hiển thị đoạn mô tả ngắn'
        }
      ]
    }
  },
  methods: {
    toggle (index) {
      const i = this.selected.indexOf(index)
      if (i > -1) {
        this.selected.splice(i, 1)
      } else {
        this.selected.push(index)
      }
    }
  }
}
</script>

<style scoped>
</style>
