<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-toolbar absolute
             color="grey lighten-4"
             app
  >
    <v-toolbar-title class="headline text-uppercase">
      <router-link
        to='/'
        tag='span'
        style='cursor: pointer'>
        Ilearning
      </router-link>
    </v-toolbar-title>
    <v-btn @click="expand = !expand" icon>
      <v-icon>apps</v-icon>
    </v-btn>
    <span class="mr-2">Menu</span>
    <div>
      <v-layout justify-space-around>
        <v-flex shrink>
          <v-expand-x-transition>
            <div v-show="expand" style="white-space: nowrap">
              <v-btn v-for="item in dataExpand" flat>
                <v-icon>{{item}}</v-icon>
              </v-btn>
            </div>
          </v-expand-x-transition>
        </v-flex>
      </v-layout>
    </div>
    <v-spacer></v-spacer>
    <v-flex xs12 sm6 md3>
      <v-text-field
        label='Course name'
        v-model='searchString'
      >
      </v-text-field>
    </v-flex>
    <v-btn
      flat
      :disabled="!dataAvailable"
      @click="searchMovie"
    >
      <span class="mr-2">Search</span>
    </v-btn>

    <div v-if="!isLogin">
    <v-dialog
      v-model="dialog"
      persistent
      width="500"
    >
      <template v-slot:activator="{ on }">
        <v-btn
          color="blue"
          dark
          v-if="!isLogin"
          v-on="on"
        >
          LOGIN
        </v-btn>
      </template>

      <v-card>
        <v-card-title
          class="headline blue lighten-2"
          primary-title
        >
          Ilearning - Login
        </v-card-title>
        <v-text-field label='Email' class="ma-3 pt-3" v-model="email_login">
        </v-text-field>
        <v-text-field label='Password' class="mx-3 pa-0" v-model="password_login" :type='password'>
        </v-text-field>
        <v-switch class="ma-3 pa-0" v-model="isAdmin" :label="`Teacher`"></v-switch>
        <v-alert
          :value="login_fail"
          type="error"
        >
          Username or password is invalid!
        </v-alert>
        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            flat
            @click="closeLogin()"
          >
            Cancel
          </v-btn>
          <v-btn
            color="primary"
            flat
            @click="login()"
          >
            Login
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    </div>
    <div v-if="!isLogin">
    <v-dialog
      v-model="dialog_register"
      persistent
      width="500"
      v-if="!isLogin"
    >
      <template v-slot:activator="{ on }">
        <v-btn
          color="red"
          dark
          v-if="!isLogin"
          v-on="on"
        >
          REGISTER
        </v-btn>
      </template>

      <v-card>
        <v-card-title
          class="headline red lighten-2"
          primary-title
        >
          Ilearning - Register
        </v-card-title>
        <v-text-field label='Name' class="ma-3 pt-3" v-model="name_register">
        </v-text-field>
        <v-text-field label='Username' class="ma-3 pa-0" v-model="username_register">
        </v-text-field>
        <v-text-field label='Email' class="ma-3 pa-0" v-model="email_register">
        </v-text-field>
        <v-text-field label='Password' class="mx-3 pa-0" v-model="password_register" :type='password'>
        </v-text-field>
        <v-text-field label='Re-password' class="mx-3 pa-0" v-model="re_password_register" :type='password'>
        </v-text-field>
        <div class="large-12 medium-12 small-12 cell ml-4">
          <label>File
            <input type="file" id="file" ref="file" v-on:change="handleFileUpload()" accept="image/*"/>
          </label>
          </div>
        <v-switch class="ma-3 pa-0" v-model="isAdmin_register" :label="`Teacher`"></v-switch>
        <v-alert
          :value="register_fail"
          type="error"
        >
          {{message_register_error}}
        </v-alert>
        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            flat
            @click="closeLogin()"
          >
            Cancel
          </v-btn>
          <v-btn
            color="primary"
            flat
            @click="register()"
          >
            Register
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    </div>
    <div v-if="isLogin" class="d-inline-flex">
      <h3 class="mr-2 mt-3">{{user_name}}</h3>
      <v-menu offset-y>
        <template v-slot:activator="{ on }">
          <v-btn flat icon color="green" v-on="on">
            <v-badge overlap>
              <v-avatar v-if="hasAvatar">
                <img
                  v-bind:src="avt"
                  :alt="user_name"
                >
              </v-avatar>
              <v-avatar v-else>
                <img
                  src='@/assets/hint_avatar.png'
                  alt="John"
                >
              </v-avatar>
            </v-badge>
          </v-btn>
        </template>
        <v-list>
          <v-list-tile
            v-for="(item, index) in user_actions"
            :key="index"
          >
            <v-list-tile-title @click="actionUser(index) ">{{ item.title }}</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
    </div>
  </v-toolbar>
</template>

<script>
import axios from 'axios'

export default {
  data: () => ({
    expand: false,
    dataExpand: [
      'home',
      'add_shopping_cart',
      'bookmark',
      'settings'
    ],
    dialog: false,
    dialog_register: false,
    isLogin: false,
    avt: 'https://cdn.vuetifyjs.com/images/john.jpg',
    email_login: '',
    password_login: '',
    name_register: '',
    username_register: '',
    email_register: '',
    password_register: '',
    re_password_register: '',
    login_mess: '',
    password: 'Password',
    login_fail: false,
    register_result: false,
    register_fail: false,
    message_register_error: 'Register failed!',
    isAdmin: false,
    isAdmin_register: false,
    user_name: '',
    image_form: '',
    hasAvatar: false,
    user_actions: [
      { title: 'Profile' },
      { title: 'Approve' },
      { title: 'Waiting' },
      { title: 'Logout' }
    ],
    res: '',
    file: null
  }),
  created: function () {
    this.isLogin = this.$cookies.isKey('token')
    if (this.isLogin) {
      this.user_name = this.$cookies.get('username')
    }
    if (this.$cookies.get('isAdmin') === 'true') {
      this.user_actions = [
        { title: 'Profile' },
        { title: 'My Courses' },
        { title: 'Logout' }
      ]
    }
    if (this.$cookies.get('avatar') == null) this.hasAvatar = false
    else {
      this.avt = this.$cookies.get('avatar')
      this.hasAvatar = true
    }
  },
  methods: {
    login: function () {
      let url = 'https://api-ilearning.herokuapp.com/api/v1/user/login'
      if (this.isAdmin) url = 'https://api-ilearning.herokuapp.com/api/v1/admin/login'
      axios.post(url, {
        email: this.email_login,
        password: this.password_login
      }).then(
        res => {
          this.res = res.data
          this.login_mess = res.data.token
          this.isLogin = res.data.isSuccessfully
          if (this.isLogin) {
            this.dialog = false
            this.$cookies.set('email', res.data.data.userInfo.email, '3m')
            this.$cookies.set('isAdmin', res.data.data.userInfo.isAdmin, '3m')
            this.$cookies.set('avatar', res.data.data.userInfo.avt, '3m')
            this.avt = res.data.data.userInfo.avt
            this.$cookies.set('username', res.data.data.userInfo.username, '3m')
            this.user_name = this.$cookies.get('username')
            this.$cookies.set('token', res.data.data.userInfo.token, '3m')
            this.$cookies.set('avatar', res.data.data.userInfo.avt, '3m')
            this.$cookies.set('user_id', res.data.data.userInfo.userId, '3m')
            if (this.$cookies.get('isAdmin') === 'true') {
              this.user_actions = [
                { title: 'Profile' },
                { title: 'My Courses' },
                { title: 'Logout' }
              ]
            }
          } else {
            this.login_fail = true
          }
        }
      )
    },
    register: function () {
      if (this.password_register !== this.re_password_register) {
        this.message_register_error = 'Password and re-password are difference!'
        this.register_fail = true
        return
      }
      let url = 'https://api-ilearning.herokuapp.com/api/v1/user/signup'
      if (this.isAdmin) url = 'https://api-ilearning.herokuapp.com/api/v1/admin/signup'
      let formData = new FormData()
      formData.append('avt', this.file)
      formData.append('name', this.name_register)
      formData.append('username', this.username_register)
      formData.append('email', this.email_register)
      formData.append('password', this.password_register)
      axios.post(url, formData,
        {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        }
      ).then(
        res => {
          this.register_result = res.data.isSuccessfully
          if (this.register_result) {
            this.register_fail = false
            this.dialog_register = false
            this.reset_data()
          } else {
            this.register_fail = true
          }
        }
      )
    },
    closeLogin: function () {
      this.dialog = false
      this.dialog_register = false
      this.login_fail = false
      this.reset_data()
    },
    reset_data: function () {
      this.name_register = ''
      this.username_register = ''
      this.email_register = ''
      this.password_register = ''
      this.re_password_register = ''
    },
    actionUser: function (index) {
      if (this.$cookies.get('isAdmin') === 'true') {
        if (index === 2) {
          this.isLogin = false
          this.removeCookies()
        }
        if (index === 1) {
          this.$router.push('/my-course')
        }
      } else {
        if (index === 3) {
          this.isLogin = false
          this.removeCookies()
        }
        if (index === 1) {
          this.$router.push('/video')
        }
      }
    },
    removeCookies: function () {
      this.$cookies.remove('email')
      this.$cookies.remove('isAdmin')
      this.$cookies.remove('avatar')
      this.$cookies.remove('username')
      this.$cookies.remove('token')
      this.$cookies.remove('avatar')
      this.$cookies.remove('user_id')
    },
    handleFileUpload () {
      this.file = this.$refs.file.files[0]
    }
  }
}
</script>
